@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$font-family-base: "Montserrat", sans-serif;

body {
  padding-top: 120px;
}

ul{
  list-style: none;
  li{
      padding: 1rem;
  }
}

a{
  text-decoration: none;
}

.main__button{
  background-image: linear-gradient(to top, $primary-color-blue, $primary-color-green);
  box-shadow: $box-shadow-custom;
  transition: all 3s ease;
  &:hover{
      scale: 1.2;
    }
}

.appstore__icon{
  transition: all 3s ease;
  &:hover{
      scale: 1.2;
    }
}

.card{
  box-shadow: $box-shadow-custom;
}
